<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL">
            <remove statusCode="404" />
            <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>
        <rewrite>
            <rules>
                <rule name="Redirect to 404" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/(404\.html|Images/|favicon\.(ico|svg)|robots\.txt|sitemap\.xml|site\.webmanifest)" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/404.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
